# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Data files
data/

# Logs and temporary files
*.tmp
*.bak
*.swp

# Other system files
.DS_Store
Thumbs.db

# .env file
.env
